
{{#with restaurantDetail}}
​
<h1>{{location.address.street}} {{location.address.house}}</h1>
<p>Address: {{{location.address.text}}}</p>
<p>Cuisine: {{#each tags}} {{title}}, {{/each}}</p>
<p>Opening hours: {{{extended.openingHours.text}}}</p>
<p>Latitude, Longitude: {{#each location.position }}{{this}}, {{/each}}</p>
{{/with}}

<div class="review-box">
{{#with review}}
<p>Review: {{> reviewPartial this}}</p>  
{{!-- reviw.hbs ke partial banate hobe --}}
{{/with}}
</div>

{{!-- map --}}
<form action="/map" method="GET">
   <button class="map-box" type="submit" > <a href="map.js"></a> Direction</button>
</form>
{{!-- {{#with map}} --}}
{{!-- <p>map: {{> mapPartial this}}</p>   --}}
{{!-- reviw.hbs ke partial banate hobe --}}
{{!-- {{/with}} --}}





