{{#with restaurantDetail}}
​
<h1>{{location.address.street}} {{location.address.house}}</h1>
<p>Address: {{{location.address.text}}}</p>
<p>Cuisine: {{#each tags}} {{title}}, {{/each}}</p>
<p>Opening hours: {{{extended.openingHours.text}}}</p>
<p>Latitude, Longitude: {{#each location.position }}{{this}}, {{/each}}</p>
{{/with}}